@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
    position: relative;
    box-sizing: border-box;
}

.desktop_show {
    display: block;
}

.dis_none {
    display: none !important;
}

.mb_show {
    display: none;
}

a:hover {
    text-decoration: none;
    color: #F48F00 !important;
}

body {
    font-size: 1rem;
    /* line-height: 2; */
    width: 100vw;
    overflow-x: hidden !important;
    color: #4f4f4f;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif, FontAwesome;
    letter-spacing: 1px;
    max-width: 100% !important;
    background-color: #005B82;
    background-color: #fefefe;
    scroll-behavior: smooth;
}

#fullpage {
    padding-top: 70px;
    /* padding-bottom: 5%; */
    line-height: 2;
}

header {
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow-y: visible;
    background-color: rgba(33, 33, 33, 0);
    pointer-events: none;
}

header .logo-company {
    display: inline-block;
    height: 72px;
    padding: 10px;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    pointer-events: auto;
}

header .logo-company img {
    width: auto;
    height: 40px;
}

/* nav */
.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    text-align: center;
    padding: 0;
    z-index: 5000;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all 0.4s ease;
    background-color: #007FAD;
    /* border-bottom: 3px solid rgb(66, 160, 201); */
}

.navbar .container {
    max-width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
}

.menu_logo_wrap {
    display: flex;
}

.page_link_wrap {
    flex: 1;
    margin-left: 30px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.page_link_wrap div {
    display: flex;
    align-items: center;
}

.page_link_wrap a {
    color: #fff;
    margin: 0 15px;
    transition: 0.3s;
}

.page_link_wrap .booking_btn {
    background-color: #F48F00;
    padding: 10px 45px;
    border-radius: 3px;
}

.page_link_wrap a.booking_btn:hover {
    color: #007FAD !important;
}

.icon_wrap {
    font-size: 1.2rem;
}

.icon_wrap a {
    color: #fefefe;
    padding: 0 10px;
    width: 25px;
}

.icon_buffer {
    display: inline-block;
    height: 15px;
    width: 2px;
    background-color: #fefefe;
}

.navbar div.logo {
    text-align: left;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.navbar div.logo img {
    width: auto;
    height: 35px;
    filter: brightness(0.9);
}

.navbar div.logo img:hover {
    filter: brightness(1.1);
}

.navbar div.logo a {
    color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.affix {
    display: block;
    padding: 0;
    background-color: rgba(4, 70, 99, 0.5);
}

/* menu */
.menu {
    transition: 0.1s transform linear;
    position: relative;
    background: 0;
    margin-right: 20px;
    height: 1.6rem;
    width: 2.4rem;
    z-index: 1;
    outline: 0;
    padding: 0;
    border: 0;
}

.menu:focus {
    outline: none;
}

.bar,
.bar::before,
.bar::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
    position: absolute;
    background: #fefefe;
    margin: auto;
    width: 100%;
    height: 0.1rem;
    content: "";
    top: 50%;
    left: 0;
}

.bar {
    margin-top: -0.2rem;
}

.menu_txt {
    display: inline-block;
    color: #fefefe;
    font-size: 0.6rem;
    margin-top: 20px;
}

.bar::before {
    top: -0.4rem;
}

.bar::after {
    top: 0.4rem;
}

.bar::before,
.bar::after {
    transform: rotate(0deg);
}

.active .bar {
    background: 0;
}

.active .bar::before {
    transform: rotate(25deg);
}

.active .bar::after {
    transform: rotate(-25deg);
}

.active .bar::before,
.active .bar::after {
    top: 0;
}

.active .bar,
.active .bar::before,
.active .bar::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
}

/* menu連結 */
nav {
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translateX(-251px);
    transition: transform 0.5s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    padding-top: 6.2rem;
    z-index: 6;
}

.menu-open nav {
    transform: translateX(0);
}

nav ul {
    margin: 0;
    list-style: none;
    /* padding: 0; */
    padding-left: 20px;
    color: #fefefe;
}

nav ul li {
    padding: 15px 0;
    font-size: 1.2rem;
    /* font-weight: bold; */
}

nav li a {
    color: #fefefe;
}

nav li a:hover {
    color: #FFFF00;
}

/* nav end */


/*共用區塊樣式*/
.btn {
    border-radius: 0;
    padding: 3px;
}

.Img img {
    width: 100%;
}

.icon-plus {
    display: block;
    background-image: url(../images/icon-plus.svg);
    width: 60px;
    height: 60px;
    opacity: 0.7;
    transition: 0.2s all;
}

.icon-plus:hover,
.Img:hover .icon-plus {
    opacity: 1;
}

/*fancybox*/
.fancybox-navigation {
    height: 100vh;
}

.fancybox-button {
    width: 50px;
    height: 50px;
}

/*文字區域*/


/* 置底選單 */
.m_contactBox {

    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #ECB01F;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.m_contactBox a {
    width: calc(100%/2);
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #000;
}

.m_contactBox a+a {
    border-left: 1px solid #eee;
}

/* banner */
.banner {
    width: 100%;
    height: 400px;
    z-index: -2;
    position: relative;
    background-image: url(../images/bg02.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.banner .blur {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.banner .banner_txt {
    font-weight: bold;
    text-align: justify;
    position: absolute;
    max-width: 1200px;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.banner .banner_txt .title {
    font-size: 2rem;
    color: #007FAD;
    font-family: 'Noto Serif TC';
}


.banner .banner_txt .desc {
    max-width: 500px;
    line-height: 2rem;
}

/* main content */
.main_cnt {
    min-height: 400px;
    max-width: 1200px;
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: -75px;
    position: relative;
    background-color: #fff;
    padding: 10px 40px;
    padding-bottom: 100px;
}

.main_cnt:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    height: 300px;
    width: 100%;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
    top: 0;
}

.main_cnt .booking_btn {
    display: block;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    background-color: #F48F00;
    transition: 0.3s;
}

.main_cnt .booking_btn:hover {
    color: #fff !important;
    background-color: #007FAD;
}

.main_cnt .service_block {
    width: 75%;
    margin: auto;
}

.main_cnt .service_block .title {
    color: #056A81;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 40px 0 20px 0;
    text-align: center;
}

.main_cnt .service_block .txt {
    text-align: justify;
    font-size: 1rem;
    text-decoration: none;
    color: #4F4F4F;
}

.icon_group,
.about_group,
.price_group {
    width: 100%;
    box-shadow: inset 0px -1px 0px #f0f0f2;
    padding: 40px 20px;
}

/* footer */
footer {
    width: 100%;
    background-color: #F0F0F0;
}

footer .footer_wrap {
    width: 80%;
    margin: auto;
}

footer .ft_btn_wrap {
    display: flex;
    padding: 40px 0;
}

footer .ft_menu {
    margin-left: 30px;
}

footer .ft_menu a {
    margin: 10px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #008EAD;
    transition: 0.3s;
}

footer .ft_logo {
    max-width: 120px;
}

footer .ft_logo img {
    width: 100%;
}

footer .copyright {
    width: 100%;
    margin: auto;
    border-top: 1px solid #DCDCDC;
    color: #828282;
    text-align: center;
    padding: 20px 0;
    font-size: 0.8rem;
}