@media (max-width: 991px) {
  /* width */
  .banner,
  .section {
    width: 90%;
  }
  .banner .personal_info {
    font-size: 1rem;
  }
  .banner .personal_info {
    width: 55%;
  }
  .banner .profile {
    width: 40%;
  }
}

@media (max-width: 768px) {
  /* width */
  .header__area .container-fluid {
    width: 95%;
  }
  .banner,
  .section {
    width: 85%;
  }
  /* width END */
  /* padding */
  .banner,
  .portfolio_wrap,
  .experience_wrap,
  .contact_wrap {
    padding: 5rem 0;
  }
  /* paddind END */
  #wn__header .logo a img {
    height: 30px;
  }
  /* common setting */
  ::placeholder,
  .select-selected,
  .radio_wrap div label {
    font-size: 1rem;
  }
  /* common setting END */

  .banner {
    flex-direction: column;
  }
  .banner .personal_info,
  .banner .profile {
    width: 100%;
  }
  .profile .profile_pic {
    text-align: center;
    margin-top: 30px;
  }
  .banner .profile img {
    width: 70%;
  }
  .title_btn_wrap {
    flex-direction: column;
  }
  .portfolio_wrap .title_btn_wrap .title,
  .portfolio_wrap .sort_btn {
    width: 100%;
  }
  #filter .filter-type {
    width: 100%;
    flex-wrap: wrap;
  }
  #filter .filter {
    flex: 1;
  }
  .portfolio_wrap .filter_btn {
    padding: 15px 5px;
  }
  #products {
    justify-content: center;
  }
  #products a.one_project {
    margin: 20px 0;
    min-width: calc((100% - 10px) / 1);
    max-width: calc((100% - 30px) / 1);
    width: calc((100% - 10px) / 1);
  }
  .contact_wrap .section {
    flex-direction: column;
  }
  .contact_wrap .contact_info,
  .contact_wrap .contact_form {
    width: 100%;
  }
  .contact_form {
    margin-top: 50px;
  }
  .input_3_wrap {
    flex-wrap: wrap;
  }
  input#name {
    flex: none;
    width: 70%;
  }
  .radio_wrap {
    width: 30%;
  }
  .radio_wrap div {
    justify-content: flex-end;
  }
  input#phone,
  .contact_wrap .contact_form form input,
  .custom_select {
    width: 100%;
  }
  .contact_wrap .contact_form form input,
  .contact_wrap .contact_form form select,
  .contact_wrap .contact_form form textarea {
    border: 2px solid var(--main-gray);
  }

  footer {
    flex-direction: column;
  }
  .footer_info {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_info a {
    margin-right: 0;
    margin: 15px 0;
  }
  .footer_info .icon_circle {
    padding: 10px;
  }
  .footer_info i {
    /* font-size: 1.2rem; */
  }
  .copyright {
    width: 100%;
  }
}
