body {
  background-color: #19142a;
}
img {
  width: 100%;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 320px;
  position: absolute;
  top: 43%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #fff;
  font-family: Roboto;
  font-weight: 700;
}
.message-box h1 {
  font-size: 5rem;
  line-height: 46px;
  margin-bottom: 40px;
}
.message-box p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: 0.2s;
}
#Polygon-3 {
  animation-delay: 0.4s;
}
#Polygon-4 {
  animation-delay: 0.6s;
}
#Polygon-5 {
  animation-delay: 0.8s;
}

.logo_for_error {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 70px auto 0;
}
.logo_for_error picture {
  display: flex;
  justify-content: flex-end;
}
.logo_for_error img {
  width: 60%;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 768px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
    opacity: 0.4;
  }
  #Polygon-1,
  #Polygon-2,
  #Polygon-3,
  #Polygon-4,
  #Polygon-4,
  #Polygon-5 {
    animation: float 3s infinite ease-in-out alternate;
    /* animation: none; */
  }
  #Polygon-2 {
    animation-delay: 0.2s;
  }
  #Polygon-3 {
    animation-delay: 0.4s;
  }
  #Polygon-4 {
    animation-delay: 0.6s;
  }
  #Polygon-5 {
    animation-delay: 0.8s;
  }
  .message-box {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
  }
  .logo_for_error picture {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
}
