.por {
    position: relative;
}

.desktop_none {
    display: none;
}

.fwb {
    font-weight: bold;
}

.blue {
    color: #008EAD;
}

/* 表單 */
@media(min-width:768px) {
    #contact-form {
        display: block !important;
    }
}

#contact-form {
    max-width: 62% !important;
    margin: auto;
    padding: 5% 0 3%;
}

#contact-form h2 {
    font-weight: bold;
    letter-spacing: 0.4rem;
}

#contact-form input::placeholder,
#contact-form select {
    color: #444;
}

.agree_personal_information_div {
    margin: 10px auto;
    text-align: center;
    letter-spacing: 0rem;
}

#send_data_button2,
#send_data_button {
    padding: 6px 0 10px;
    border-radius: 3px;
    background-color: #032d3f;
}

#send_data_button2:hover,
#send_data_button:hover {
    background-color: #005B82;
}

.updown {
    animation: updown 2s infinite ease-in;
}

@media(max-width:1300px) {

    .fp-section.fp-table {
        /* height: 100vh !important; */
        height: auto !important;

    }

    .fp-tableCell {
        height: auto !important;
    }
}

@media(max-width:1024px) {
    .banner {
        flex-direction: column;
    }
}

@media(max-width: 1023px) {
    .banner {
        flex-direction: column;
    }
}

@media(max-width:769px) {
    #body {
        overflow-x: hidden !important;
    }
}

.btn-secondary {
    color: #000 !important;
    background-color: #ECB01F;
    border-color: #fff;
}

.btn-secondary:hover {
    color: #ECB01F !important;
    background-color: #ffffff;
    border-color: #ffffff;
}

.contacBox {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.contacBox a {
    display: inline-block;
    width: calc(100%/2);
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #888;
    padding: 5px;
    font-size: 14px;
    background-color: #222;
    color: #eee !important;
}

.contacBox a+a {
    border-left: 1px solid #888;

}

.fp-viewing-firstPage .contacBox,
.fp-viewing-InfoPage .contacBox {
    display: none;
}

@media(max-width: 768px) {
    .desktop_none {
        display: inline;
    }

    .mb_none {
        display: none !important;
    }
}

/* 關於我們 */
.about_group {
    width: 85%;
    margin: auto;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about_group .icon_item {
    display: flex;
    width: 33%;
    margin: 20px 0;
}

.about_group .icon_item .icon_img {
    width: 65px;
}

.about_group .icon_item .icon_img i {
    font-size: 2.6rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-mountain {
    background: -webkit-linear-gradient(#90F9AB, #41D3A2);
}

.fa-plane {
    background: -webkit-linear-gradient(#a1c2ff, #367EFF);
}

.fa-ship {
    background: -webkit-linear-gradient(#08B7FF, #136180);
}

.fa-gratipay {
    background: -webkit-linear-gradient(#FF988C, #FE6A88);
}

.fa-briefcase {
    background: -webkit-linear-gradient(#FFD500, #FE9900);
}

.fa-video {
    background: -webkit-linear-gradient(#FFB4FB, #D45DFF);
}

.fa-paw {
    background: -webkit-linear-gradient(#F67067, #FA4D7A);
}

/* 價目表 */
.category_group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    max-width: 500px;
    width: 100%;
    margin: 40px auto;
    height: 45px;
}

.category_group .category_btn:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.category_group .category_btn:nth-child(2) {
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}

.category_group .category_btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    height: 100%;
    width: 50%;
    border: 1px solid #007FAD;
    color: #007FAD;
    font-size: 14px;
    cursor: pointer;
}

.category_group .category_btn.active {
    background-color: #007FAD;
    color: #fff;
}

.price_table {
    width: 100%;
    text-align: center;
}

.price_table .table_title {
    border-bottom: 2px solid #008EAD;
    padding-bottom: 10px;
}

.flex_end,
.price_table .table_title,
.price_table .table_body .body_item {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.price_table .table_title .title_item {
    width: 20%;
}

.price_table .table_title .title_item .item_title {
    color: #008EAD;
    font-weight: bold;
}

.price_table .table_title .title_item .item_text {
    font-size: 0.9rem;
}

.price_table .table_body .body_item {
    box-shadow: inset 0px -1px 0px #f0f0f2;
    padding: 20px 0;
}

.price_table .table_body .body_item .body_col:nth-child(1) {
    color: #333;
    font-weight: bold;
}

.price_table .table_body .body_item .body_col {
    font-size: 0.9rem;
    width: 20%;
}